/* --------- HiepDH --------- */
:root, [data-theme=green-light], [data-theme=light], [data-theme=pink-light], [data-theme=yellow] {
    --background-tooltip: #e8e8e8;
    --white: #fff;
    --black: #32323d;
    --yellow: #f8e71c;
    --blue: #4a90e2;
    --green: #50e3c2;
    --red: #e35050;
    --gray: #dbdbdb;
    --dark-alpha-10: rgba(0,0,0,0.1);
    --dark-alpha-50: rgba(0,0,0,0.5);
    --dark-alpha-70: rgba(0,0,0,0.7);
    --dark-alpha-80: rgba(0,0,0,0.8);
    --hover-tooltip-opacity: hsla(0,0%,100%,0.3);
    --primary-bg: #fff;
    --layout-bg: #fff;
    --sidebar-bg: rgba(0,0,0,0.05);
    --sidebar-popup-bg: #f2f2f2;
    --alpha-bg: rgba(0,0,0,0.05);
    --contrast-bg: rgba(20,20,20,0.4);
    --contrast-bg-1: rgba(20,20,20,0.4);
    --contrast-color: rgba(254,255,255,0.8);
    --banner-home-dot: #d8d8d8;
    --loading-bg: rgba(0,0,0,0.05);
    --loading-bg-animation: #f5f5f5;
    --scroll-thumb-bg: rgba(0,0,0,0.1);
    --no-content-bg: #f9f9f9;
    --box-item-bg: #fff;
    --artist-layout-bg: hsla(0,0%,100%,0.8);
    --alpha-layout-bg: rgba(12,3,3,0.8);
    --tab-active-bg: #fff;
    --queue-player-popup-bg: #fff;
    --progressbar-active-bg: var(--purple-primary);
    --progressbar-player-bg: rgba(0,0,0,0.1);
    --kara-lyrics-bg: #9882bd;
    --kara-btn-bg: hsla(0,0%,100%,0.1);
    --theme-setting-active: rgba(0,0,0,0.15);
    --player-bg: #fff;
    --select-bg: rgba(0,0,0,0.15);
    --text-primary: #32323d;
    --text-secondary: rgba(0,0,0,0.6);
    --purple-primary: #6b3483;
    --text-item-hover: #6b3483;
    --link-text-hover: #9c32ca;
    --player-text: #32323d;
    --search-text: #282828;
    --text-placeholder: #757575;
    --setting-icon-text: #495057;
    --navigation-text: #32323d;
    --sidebar-title: rgba(0,0,0,0.7);
    --song-item-action: rgba(50,50,61,0.5);
    --border-primary: rgba(0,0,0,0.1);
    --border-secondary: rgba(0,0,0,0.05);
    --border-box: rgba(0,0,0,0.2);
    --spotlight-item: #f1f1f1;
    --queue-border: rgba(0,0,0,0.1);
    --border-player: rgba(0,0,0,0.05);
    --thumbnail-player: hsla(0,0%,100%,0.8);
    --main-box-shadow: hsla(0,0%,81.2%,0.4);
    --new-release-box-shadow: hsla(0,0%,81.2%,0.4);
    --sticky-header-box-shadow: rgba(0,0,0,0.08);
    --notify-box-shadow: rgba(0,0,0,0.2);
    --portal-menu-box-shadow: rgba(0,0,0,0.3);
    --main-text-stroke: #6b3483;
    --box-shadow-queue: 0 1px 0 rgba(0,0,0,0.3),0 1px 6px rgba(0,0,0,0.3),inset 0 1px 1px hsla(0,0%,100%,0.3);
    --chart-bg-img-alpha: hsla(0,0%,100%,0.9);
    --chart-box-bg-alpha: hsla(0,0%,100%,0.5);
    --chart-logo-color: #000;
    --chart-icon-play-color: #fff;
    --linear-gradient-bg: linear-gradient(180deg,#740091,#2d1a4c);
}

[data-theme=blue-light], 
[data-theme=blue], 
[data-theme=brown], 
[data-theme=dark], 
[data-theme=green], 
[data-theme=pink], 
[data-theme=purple], 
[data-theme=red] {
    --primary-bg: #282828;
    --layout-bg: #1e1e1e;
    --sidebar-bg: hsla(0,0%,100%,0.05);
    --sidebar-popup-bg: #292929;
    --alpha-bg: hsla(0,0%,100%,0.1);
    --contrast-bg: rgba(254,255,255,0.4);
    --contrast-bg-1: #feffff;
    --contrast-color: rgba(20,20,20,0.8);
    --banner-home-dot: #d8d8d8;
    --loading-bg: hsla(0,0%,100%,0.1);
    --loading-bg-animation: hsla(0,0%,100%,0.1);
    --scroll-thumb-bg: hsla(0,0%,100%,0.3);
    --no-content-bg: hsla(0,0%,100%,0.1);
    --box-item-bg: hsla(0,0%,100%,0.1);
    --alpha-layout-bg: rgba(12,3,3,0.8);
    --artist-layout-bg: var(--alpha-layout-bg);
    --tab-active-bg: hsla(0,0%,100%,0.3);
    --queue-player-popup-bg: #2d2f32;
    --kara-lyrics-bg: #1e1e1e;
    --kara-btn-bg: hsla(0,0%,100%,0.1);
    --theme-setting-active: hsla(0,0%,100%,0.15);
    --player-bg: rgba(0,0,0,0.2);
    --progressbar-player-bg: hsla(0,0%,100%,0.3);
    --progressbar-active-bg: #fff;
    --select-bg: hsla(0,0%,100%,0.15);
    --text-primary: #fff;
    --text-secondary: hsla(0,0%,100%,0.5);
    --purple-primary: #7200a1;
    --link-text-hover: #c662ef;
    --text-item-hover: #fff;
    --player-text: #fff;
    --search-text: #eee;
    --text-placeholder: #757575;
    --setting-icon-text: #d8d8d8;
    --navigation-text: #a0a0a0;
    --sidebar-title: hsla(0,0%,100%,0.7);
    --song-item-action: hsla(0,0%,100%,0.5);
    --border-primary: hsla(0,0%,100%,0.1);
    --border-secondary: hsla(0,0%,100%,0.05);
    --border-box: hsla(0,0%,100%,0.2);
    --spotlight-item: #130223;
    --queue-border: transparent;
    --border-player: hsla(0,0%,100%,0.1);
    --main-box-shadow: rgba(66,66,66,0.4);
    --new-release-box-shadow: none;
    --sticky-header-box-shadow: rgba(0,0,0,0.2);
    --notify-box-shadow: rgba(0,0,0,0.6);
    --portal-menu-box-shadow: rgba(0,0,0,0.7);
    --main-text-stroke: #fff;
    --box-shadow-queue: 0 1px 0 rgba(0,0,0,0.3),0 1px 6px rgba(0,0,0,0.3),inset 0 1px 1px rgba(25,255,255,0.05);
    --chart-bg-img-alpha: rgba(30,30,30,0.9);
    --chart-box-bg-alpha: hsla(0,0%,100%,0.05);
    --chart-logo-color: #fff;
    --chart-icon-play-color: var(--purple-primary);
}

[data-theme=blue-light], [data-theme=blue], [data-theme=brown], [data-theme=green], [data-theme=pink], [data-theme=purple], [data-theme=red] {
    --text-placeholder: #dadada;
    --navigation-text: #dadada;
    --sticky-header-box-shadow: rgba(0,0,0,0.1);
    --portal-menu-box-shadow: rgba(0,0,0,0.2);
}

[data-theme=light] {
    --thumbnail-player: rgba(0,0,0,0.2);
}

[data-theme=gray] {
    --primary-bg: #fffffe;
    --layout-bg: #e5e3df;
    --queue-player-popup-bg: #e5e3df;
    --blur-queue-bg: rgba(229,227,223,0.9019607843137255);
    --tab-active-bg: hsla(0,0%,100%,0.3);
    --box-item-bg: hsla(0,0%,100%,0.3);
    --player-bg: #d0ccc5;
    --artist-layout-bg: rgba(229,227,223,0.8);
    --text-secondary: #696969;
    --purple-primary: #8c8471;
    --text-item-hover: #8c8471;
    --link-text-hover: #8c8471;
    --chart-bg-img-alpha: rgb(229 227 223/90%);
}

[data-theme=blue-light], [data-theme=blue] {
    --purple-primary: #3460f5;
    --link-text-hover: #6e8ffb;
    --chart-box-bg-alpha: hsla(0,0%,100%,0.05);
}


[data-theme=blue] {
    --primary-bg: #192f60;
    --layout-bg: #101f3f;
    --sidebar-popup-bg: #1d2a49;
    --alpha-layout-bg: rgba(16,31,63,0.8);
    --queue-player-popup-bg: #223c75;
    --blur-queue-bg: rgba(16,31,63,0.9019607843137255);
    --chart-bg-img-alpha: rgba(16,31,63,0.9);
    --linear-gradient-bg: linear-gradient(180deg,#1b2f5a,#182e5d);
}

[data-theme=brown], [data-theme=green] {
    --chart-box-bg-alpha: hsla(0,0%,100%,0.05);
}

[data-theme=brown] {
    --primary-bg: #6f514c;
    --layout-bg: #57403b;
    --sidebar-popup-bg: #604a45;
    --alpha-layout-bg: rgba(87,64,59,0.8);
    --queue-player-popup-bg: #63423c;
    --blur-queue-bg: rgba(87,64,59,0.9019607843137255);
    --purple-primary: #986d5c;
    --link-text-hover: #d8987f;
    --chart-bg-img-alpha: rgba(87,64,59,0.9);
    --linear-gradient-bg: linear-gradient(180deg,#7b5e58,#654943);
}

.z-idx-10 {
    z-index: 10;
}

.z-idx-100 {
    z-index: 100;
}

.z-idx-1000 {
    z-index: 1000;
}

.z-idx-10000 {
    z-index: 10000;
}

.z-idx-100000 {
    z-index: 100000 !important;
}

/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

/*-------font weight-------*/
.fw-200 {
    font-weight: 200 !important;
}

.fw-200.medium {
    font-family: "Inter-Light";
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-400.medium {
    font-family: "Inter-Regular";
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-600.medium {
    font-family: "Inter-Medium";
}

/*------- line height -------  */
.lh-14 {
    line-height: 14px !important;
}
.lh-16 {
    line-height: 16px !important; 
}
.lh-18 {
    line-height: 18px !important; 
}
.lh-20 {
    line-height: 20px !important; 
}
.lh-21 {
    line-height: 21px !important; 
}

.lh-22 {
    line-height: 22px !important; 
}
.lh-24 {
    line-height: 24px !important; 
}
.lh-40 {
    line-height: 40px !important; 
}
/*-------padding-------*/
.pad4 {
    padding: 4px !important;
}
.pad8 {
    padding: 8px !important;
}
.pad12 {
    padding: 12px !important;
}
.pad16 {
    padding: 16px !important;
}
.pad20 {
    padding: 20px !important;
}
.pad24 {
    padding: 24px !important;
}
.pad28 {
    padding: 28px !important;
}
.pad32 {
    padding: 32px !important;
}

.padl0 {
    padding-left: 0px !important;  
}
.padl4 {
    padding-left: 4px !important;
}
.padl8 {
    padding-left: 8px !important;
}
.padl12 {
    padding-left: 12px !important;
}
.padl16 {
    padding-left: 16px !important;
}
.padl18 {
    padding-left: 18px !important;
}
.padl20 {
    padding-left: 20px !important;
}
.padl24 {
    padding-left: 24px !important;
}
.padl28 {
    padding-left: 28px !important;
}
.padl32 {
    padding-left: 32px !important;
}
.padl40 {
    padding-left: 40px !important;
}
.padl60 {
    padding-left: 60px !important;
}

.padr4 {
    padding-right: 4px !important;
}
.padr5 {
    padding-right: 5px !important;
}
.padr8 {
    padding-right: 8px !important;
}
.padr12 {
    padding-right: 12px !important;
}
.padr16 {
    padding-right: 16px !important;
}
.padr20 {
    padding-right: 20px !important;
}
.padr24 {
    padding-right: 24px !important;
}
.padr28 {
    padding-right: 28px !important;
}
.padr32 {
    padding-right: 32px !important;
}
.padr60 {
    padding-right: 60px !important;
}

.padt2 {
    padding-top: 2px !important;
}
.padt4 {
    padding-top: 4px !important;
}
.padt8 {
    padding-top: 8px !important;
}
.padt12 {
    padding-top: 12px !important;
}
.padt14 {
    padding-top: 14px !important;
}
.padt16 {
    padding-top: 16px !important;
}
.padt19 {
    padding-top: 19px !important;
}
.padt20 {
    padding-top: 20px !important;
}
.padt24 {
    padding-top: 24px !important;
}
.padt28 {
    padding-top: 28px !important;
}
.padt32 {
    padding-top: 32px !important;
}
.padt36 {
    padding-top: 36px !important;
}
.padt48 {
    padding-top: 48px !important;
}
.padt60 {
    padding-top: 60px !important;
}

.padb2 {
    padding-bottom: 2px !important;
}
.padb4 {
    padding-bottom: 4px !important;
}
.padb8 {
    padding-bottom: 8px !important;
}
.padb12 {
    padding-bottom: 12px !important;
}
.padb16 {
    padding-bottom: 16px !important;
}

.padb19 {
    padding-bottom: 19px !important;
}

.padb20 {
    padding-bottom: 20px !important;
}
.padb22 {
    padding-bottom: 22px !important;
}

.padb24 {
    padding-bottom: 24px !important;
}
.padb28 {
    padding-bottom: 28px !important;
}
.padb32 {
    padding-bottom: 32px !important;
}
.padb36 {
    padding-bottom: 36px !important;
}
.padb44 {
    padding-bottom: 44px !important;
}
.padb58 {
    padding-bottom: 58px !important;
}

.padb60 {
    padding-bottom: 60px !important;
}

/*-------margin-------*/
.m4 {
    margin: 4px !important;
}
.m8 {
    margin: 8px !important;
}
.m12 {
    margin: 12px !important;
}
.m16 {
    margin: 16px !important;
}
.m20 {
    margin: 20px !important;
}
.m24 {
    margin: 24px !important;
}
.m28 {
    margin: 28px !important;
}
.m32 {
    margin: 32px !important;
}

.ml0 {
    margin-left: 0px !important;
}
.ml4 {
    margin-left: 4px !important;
}
.ml8 {
    margin-left: 8px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml12 {
    margin-left: 12px !important;
}

.ml16 {
    margin-left: 16px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml24 {
    margin-left: 24px !important;
}
.ml28 {
    margin-left: 28px !important;
}
.ml32 {
    margin-left: 32px !important;
}
.ml40 {
    margin-left: 40px !important;
}
.ml57 {
    margin-left: 57px !important;
}
.ml-30 {
    margin-left: -30px !important;
}

.mr0 {
    margin-right: 0px !important;
}
.mr4 {
    margin-right: 4px !important;
}
.mr8 {
    margin-right: 8px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr12 {
    margin-right: 12px !important;
}
.mr16 {
    margin-right: 16px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr24 {
    margin-right: 24px !important;
}
.mr28 {
    margin-right: 28px !important;
}
.mr32 {
    margin-right: 32px !important;
}
.mr41 {
    margin-right: 41px !important;
}
.mr48 {
    margin-right: 48px !important;
}
.mr56 {
    margin-right: 56px !important;
}
.mr-30 {
    margin-right: -30px !important;
}

.mt1 {
    margin-top: 1px !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt4 {
    margin-top: 4px !important;
}
.mt8 {
    margin-top: 8px !important;
}
.mt12 {
    margin-top: 12px !important;
}
.mt14 {
    margin-top: 14px !important;
}
.mt16 {
    margin-top: 16px !important;
}
.mt18 {
    margin-top: 18px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt22 {
    margin-top: 22px !important;
}
.mt24 {
    margin-top: 24px !important;
}
.mt28 {
    margin-top: 28px !important;
}
.mt32 {
    margin-top: 32px !important;
}
.mt36 {
    margin-top: 36px !important;
}
.mt46 {
    margin-top: 46px !important;
}

.mt48 {
    margin-top: 48px !important;
}
.mt60 {
    margin-top: 60px !important;
}
.mt64 {
    margin-top: 64px !important;
}
.mt72 {
    margin-top: 72px !important;
}
.mt80 {
    margin-top: 80px !important;
}
.mt112 {
    margin-top: 112px !important;
}
.mt100 {
    margin-top: 100px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}
.mb4 {
    margin-bottom: 4px !important;
}
.mb8 {
    margin-bottom: 8px !important;
}
.mb12 {
    margin-bottom: 12px !important;
}
.mb16 {
    margin-bottom: 16px !important;
}
.mb19 {
    margin-bottom: 19px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb22 {
    margin-bottom: 22px !important;
}
.mb24 {
    margin-bottom: 24px !important;
}
.mb28 {
    margin-bottom: 28px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb32 {
    margin-bottom: 32px !important;
}
.mb36 {
    margin-bottom: 36px !important;
}
.mb40 {
    margin-bottom: 40px !important;
}
.mb46 {
    margin-bottom: 46px !important;
}
.mb60 {
    margin-bottom: 60px !important;
}

.mb66 {
    margin-bottom: 66px !important;
}
.mb80 {
    margin-bottom: 80px !important;
}
.mb98 {
    margin-bottom: 98px !important;
}

/*-------font size-------*/
.fz-2 {
    font-size: 2px !important;
}
.fz-5 {
    font-size: 5px !important;
}
.fz-7 {
    font-size: 7px !important;
}
.fz-8 {
    font-size: 8px !important;
}
.fz-9 {
    font-size: 9px !important;
}
.fz-10 {
    font-size: 10px !important;
}
.fz-11 {
    font-size: 11px !important;
}
.fz-12 {
    font-size: 12px !important;
}
.fz-13 {
    font-size: 13px !important;
}
.fz-14 {
    font-size: 14px !important;
}
.fz-15 {
    font-size: 15px !important;
}
.fz-16 {
    font-size: 16px !important;
}
.fz-17 {
    font-size: 17px !important;
}
.fz-18 {
    font-size: 18px !important;
}
.fz-19 {
    font-size: 19px !important;
}
.fz-20 {
    font-size: 20px !important;
}
.fz-21 {
    font-size: 21px !important;
}
.fz-22 {
    font-size: 22px !important;
}
.fz-23 {
    font-size: 23px !important;
}
.fz-24 {
    font-size: 24px !important;
}
.fz-25 {
    font-size: 25px !important;
}
.fz-28 {
    font-size: 28px !important;
}
.fz-29 {
    font-size: 29px !important;
}
.fz-30 {
    font-size: 30px !important;
}
.fz-31 {
    font-size: 31px !important;
}
.fz-32 {
    font-size: 32px !important;
}
.fz-34 {
    font-size: 34px !important;
}
.fz-36 {
    font-size: 36px !important;
}
.fz-37 {
    font-size: 37px !important;
}
.fz-40 {
    font-size: 40px !important;
}
.fz-54 {
    font-size: 54px !important;
}
.fz-60 {
    font-size: 60px !important;
}

/* --------- mobile --------- */
@media (max-width: 740px) {
    /* ----------- font size ---------*/
    .fz-sm-10 {
        font-size: 10px !important;
    }

    /* ---------- line height ---------- */
    .lh-sm-0 {
        line-height: 0 !important;
    }

    /*-------padding-------*/
.pad-sm-4 {
    padding: 4px !important;
}
.pad-sm-8 {
    padding: 8px !important;
}
.pad-sm-12 {
    padding: 12px !important;
}
.pad-sm-16 {
    padding: 16px !important;
}
.pad-sm-20 {
    padding: 20px !important;
}
.pad-sm-24 {
    padding: 24px !important;
}
.pad-sm-28 {
    padding: 28px !important;
}
.pad-sm-32 {
    padding: 32px !important;
}

.pad-sm-l0 {
    padding-left: 0px !important;  
}
.pad-sm-l4 {
    padding-left: 4px !important;
}
.pad-sm-l8 {
    padding-left: 8px !important;
}
.pad-sm-l12 {
    padding-left: 12px !important;
}
.pad-sm-l16 {
    padding-left: 16px !important;
}
.pad-sm-l18 {
    padding-left: 18px !important;
}
.pad-sm-l20 {
    padding-left: 20px !important;
}
.pad-sm-l24 {
    padding-left: 24px !important;
}
.pad-sm-l28 {
    padding-left: 28px !important;
}
.pad-sm-l32 {
    padding-left: 32px !important;
}
.pad-sm-l40 {
    padding-left: 40px !important;
}
.pad-sm-l60 {
    padding-left: 60px !important;
}

.pad-sm-r4 {
    padding-right: 4px !important;
}
.pad-sm-r5 {
    padding-right: 5px !important;
}
.pad-sm-r8 {
    padding-right: 8px !important;
}
.pad-sm-r12 {
    padding-right: 12px !important;
}
.pad-sm-r16 {
    padding-right: 16px !important;
}
.pad-sm-r20 {
    padding-right: 20px !important;
}
.pad-sm-r24 {
    padding-right: 24px !important;
}
.pad-sm-r28 {
    padding-right: 28px !important;
}
.pad-sm-r32 {
    padding-right: 32px !important;
}
.pad-sm-r60 {
    padding-right: 60px !important;
}

.pad-sm-t2 {
    padding-top: 2px !important;
}
.pad-sm-t4 {
    padding-top: 4px !important;
}
.pad-sm-t8 {
    padding-top: 8px !important;
}
.pad-sm-t12 {
    padding-top: 12px !important;
}
.pad-sm-t14 {
    padding-top: 14px !important;
}
.pad-sm-t16 {
    padding-top: 16px !important;
}
.pad-sm-t19 {
    padding-top: 19px !important;
}
.pad-sm-t20 {
    padding-top: 20px !important;
}
.pad-sm-t24 {
    padding-top: 24px !important;
}
.pad-sm-t28 {
    padding-top: 28px !important;
}
.pad-sm-t32 {
    padding-top: 32px !important;
}
.pad-sm-t36 {
    padding-top: 36px !important;
}
.pad-sm-t48 {
    padding-top: 48px !important;
}
.pad-sm-t60 {
    padding-top: 60px !important;
}

.pad-sm-b2 {
    padding-bottom: 2px !important;
}
.pad-sm-b4 {
    padding-bottom: 4px !important;
}
.pad-sm-b8 {
    padding-bottom: 8px !important;
}
.pad-sm-b12 {
    padding-bottom: 12px !important;
}
.pad-sm-b16 {
    padding-bottom: 16px !important;
}

.pad-sm-b19 {
    padding-bottom: 19px !important;
}

.pad-sm-b20 {
    padding-bottom: 20px !important;
}
.pad-sm-b22 {
    padding-bottom: 22px !important;
}

.pad-sm-b24 {
    padding-bottom: 24px !important;
}
.pad-sm-b28 {
    padding-bottom: 28px !important;
}
.pad-sm-b32 {
    padding-bottom: 32px !important;
}
.pad-sm-b36 {
    padding-bottom: 36px !important;
}
.pad-sm-b44 {
    padding-bottom: 44px !important;
}
.pad-sm-b58 {
    padding-bottom: 58px !important;
}

.pad-sm-b60 {
    padding-bottom: 60px !important;
}

/*-------margin-------*/
.m-sm-4 {
    margin: 4px !important;
}
.m-sm-8 {
    margin: 8px !important;
}
.m-sm-12 {
    margin: 12px !important;
}
.m-sm-16 {
    margin: 16px !important;
}
.m-sm-20 {
    margin: 20px !important;
}
.m-sm-24 {
    margin: 24px !important;
}
.m-sm-28 {
    margin: 28px !important;
}
.m-sm-32 {
    margin: 32px !important;
}

.m-sm-l0 {
    margin-left: 0px !important;
}
.m-sm-l4 {
    margin-left: 4px !important;
}
.m-sm-l8 {
    margin-left: 8px !important;
}
.m-sm-l10 {
    margin-left: 10px !important;
}
.m-sm-l12 {
    margin-left: 12px !important;
}

.m-sm-l16 {
    margin-left: 16px !important;
}
.m-sm-l20 {
    margin-left: 20px !important;
}
.m-sm-l24 {
    margin-left: 24px !important;
}
.m-sm-l28 {
    margin-left: 28px !important;
}
.m-sm-l32 {
    margin-left: 32px !important;
}
.m-sm-l40 {
    margin-left: 40px !important;
}
.m-sm-l57 {
    margin-left: 57px !important;
}
.m-sm-l-30 {
    margin-left: -30px !important;
}

.m-sm-r0 {
    margin-right: 0px !important;
}
.m-sm-r4 {
    margin-right: 4px !important;
}
.m-sm-r8 {
    margin-right: 8px !important;
}
.m-sm-r10 {
    margin-right: 10px !important;
}
.m-sm-r12 {
    margin-right: 12px !important;
}
.m-sm-r16 {
    margin-right: 16px !important;
}
.m-sm-r20 {
    margin-right: 20px !important;
}
.m-sm-r24 {
    margin-right: 24px !important;
}
.m-sm-r28 {
    margin-right: 28px !important;
}
.m-sm-r32 {
    margin-right: 32px !important;
}
.m-sm-r41 {
    margin-right: 41px !important;
}
.m-sm-r48 {
    margin-right: 48px !important;
}
.m-sm-r56 {
    margin-right: 56px !important;
}
.m-sm-r-30 {
    margin-right: -30px !important;
}

.m-sm-t1 {
    margin-top: 1px !important;
}

.m-sm-t4 {
    margin-top: 4px !important;
}
.m-sm-t8 {
    margin-top: 8px !important;
}
.m-sm-t12 {
    margin-top: 12px !important;
}
.m-sm-t14 {
    margin-top: 14px !important;
}
.m-sm-t16 {
    margin-top: 16px !important;
}
.m-sm-t18 {
    margin-top: 18px !important;
}
.m-sm-t20 {
    margin-top: 20px !important;
}
.m-sm-t22 {
    margin-top: 22px !important;
}
.m-sm-t24 {
    margin-top: 24px !important;
}
.m-sm-t28 {
    margin-top: 28px !important;
}
.m-sm-t32 {
    margin-top: 32px !important;
}
.m-sm-t36 {
    margin-top: 36px !important;
}
.m-sm-t46 {
    margin-top: 46px !important;
}

.m-sm-t48 {
    margin-top: 48px !important;
}
.m-sm-t60 {
    margin-top: 60px !important;
}
.m-sm-t64 {
    margin-top: 64px !important;
}
.m-sm-t72 {
    margin-top: 72px !important;
}
.m-sm-t80 {
    margin-top: 80px !important;
}
.m-sm-t112 {
    margin-top: 112px !important;
}
.m-sm-t100 {
    margin-top: 100px !important;
}

.m-sm-b0 {
    margin-bottom: 0 !important;
}
.m-sm-b4 {
    margin-bottom: 4px !important;
}
.m-sm-b8 {
    margin-bottom: 8px !important;
}
.m-sm-b12 {
    margin-bottom: 12px !important;
}
.m-sm-b16 {
    margin-bottom: 16px !important;
}
.m-sm-b19 {
    margin-bottom: 19px !important;
}
.m-sm-b20 {
    margin-bottom: 20px !important;
}
.m-sm-b22 {
    margin-bottom: 22px !important;
}
.m-sm-b24 {
    margin-bottom: 24px !important;
}
.m-sm-b28 {
    margin-bottom: 28px !important;
}
.m-sm-b30 {
    margin-bottom: 30px !important;
}
.m-sm-b32 {
    margin-bottom: 32px !important;
}
.m-sm-b36 {
    margin-bottom: 36px !important;
}
.m-sm-b40 {
    margin-bottom: 40px !important;
}
.m-sm-b46 {
    margin-bottom: 46px !important;
}
.m-sm-b60 {
    margin-bottom: 60px !important;
}

.m-sm-b66 {
    margin-bottom: 66px !important;
}
.m-sm-b80 {
    margin-bottom: 80px !important;
}
.m-sm-b98 {
    margin-bottom: 98px !important;
}
}

/* --------- tablet --------- */
@media (min-width: 740px) and (max-width: 1023px) {
    /*-------padding-------*/
.pad-md-4 {
    padding: 4px !important;
}
.pad-md-8 {
    padding: 8px !important;
}
.pad-md-12 {
    padding: 12px !important;
}
.pad-md-16 {
    padding: 16px !important;
}
.pad-md-20 {
    padding: 20px !important;
}
.pad-md-24 {
    padding: 24px !important;
}
.pad-md-28 {
    padding: 28px !important;
}
.pad-md-32 {
    padding: 32px !important;
}

.pad-md-l0 {
    padding-left: 0px !important;  
}
.pad-md-l4 {
    padding-left: 4px !important;
}
.pad-md-l8 {
    padding-left: 8px !important;
}
.pad-md-l12 {
    padding-left: 12px !important;
}
.pad-md-l16 {
    padding-left: 16px !important;
}
.pad-md-l18 {
    padding-left: 18px !important;
}
.pad-md-l20 {
    padding-left: 20px !important;
}
.pad-md-l24 {
    padding-left: 24px !important;
}
.pad-md-l28 {
    padding-left: 28px !important;
}
.pad-md-l32 {
    padding-left: 32px !important;
}
.pad-md-l40 {
    padding-left: 40px !important;
}
.pad-md-l60 {
    padding-left: 60px !important;
}

.pad-md-r4 {
    padding-right: 4px !important;
}
.pad-md-r5 {
    padding-right: 5px !important;
}
.pad-md-r8 {
    padding-right: 8px !important;
}
.pad-md-r12 {
    padding-right: 12px !important;
}
.pad-md-r16 {
    padding-right: 16px !important;
}
.pad-md-r20 {
    padding-right: 20px !important;
}
.pad-md-r24 {
    padding-right: 24px !important;
}
.pad-md-r28 {
    padding-right: 28px !important;
}
.pad-md-r32 {
    padding-right: 32px !important;
}
.pad-md-r60 {
    padding-right: 60px !important;
}

.pad-md-t2 {
    padding-top: 2px !important;
}
.pad-md-t4 {
    padding-top: 4px !important;
}
.pad-md-t8 {
    padding-top: 8px !important;
}
.pad-md-t12 {
    padding-top: 12px !important;
}
.pad-md-t14 {
    padding-top: 14px !important;
}
.pad-md-t16 {
    padding-top: 16px !important;
}
.pad-md-t19 {
    padding-top: 19px !important;
}
.pad-md-t20 {
    padding-top: 20px !important;
}
.pad-md-t24 {
    padding-top: 24px !important;
}
.pad-md-t28 {
    padding-top: 28px !important;
}
.pad-md-t32 {
    padding-top: 32px !important;
}
.pad-md-t36 {
    padding-top: 36px !important;
}
.pad-md-t48 {
    padding-top: 48px !important;
}
.pad-md-t60 {
    padding-top: 60px !important;
}

.pad-md-b2 {
    padding-bottom: 2px !important;
}
.pad-md-b4 {
    padding-bottom: 4px !important;
}
.pad-md-b8 {
    padding-bottom: 8px !important;
}
.pad-md-b12 {
    padding-bottom: 12px !important;
}
.pad-md-b16 {
    padding-bottom: 16px !important;
}

.pad-md-b19 {
    padding-bottom: 19px !important;
}

.pad-md-b20 {
    padding-bottom: 20px !important;
}
.pad-md-b22 {
    padding-bottom: 22px !important;
}

.pad-md-b24 {
    padding-bottom: 24px !important;
}
.pad-md-b28 {
    padding-bottom: 28px !important;
}
.pad-md-b32 {
    padding-bottom: 32px !important;
}
.pad-md-b36 {
    padding-bottom: 36px !important;
}
.pad-md-b44 {
    padding-bottom: 44px !important;
}
.pad-md-b58 {
    padding-bottom: 58px !important;
}

.pad-md-b60 {
    padding-bottom: 60px !important;
}
}

/* --------- PC low solution --------- */
@media (min-width: 1024px) and (max-width: 1113px) {
/*-------padding-------*/
.pad-lg-4 {
    padding: 4px !important;
}
.pad-lg-8 {
    padding: 8px !important;
}
.pad-lg-12 {
    padding: 12px !important;
}
.pad-lg-16 {
    padding: 16px !important;
}
.pad-lg-20 {
    padding: 20px !important;
}
.pad-lg-24 {
    padding: 24px !important;
}
.pad-lg-28 {
    padding: 28px !important;
}
.pad-lg-32 {
    padding: 32px !important;
}

.pad-lg-l0 {
    padding-left: 0px !important;  
}
.pad-lg-l4 {
    padding-left: 4px !important;
}
.pad-lg-l8 {
    padding-left: 8px !important;
}
.pad-lg-l12 {
    padding-left: 12px !important;
}
.pad-lg-l16 {
    padding-left: 16px !important;
}
.pad-lg-l18 {
    padding-left: 18px !important;
}
.pad-lg-l20 {
    padding-left: 20px !important;
}
.pad-lg-l24 {
    padding-left: 24px !important;
}
.pad-lg-l28 {
    padding-left: 28px !important;
}
.pad-lg-l32 {
    padding-left: 32px !important;
}
.pad-lg-l40 {
    padding-left: 40px !important;
}
.pad-lg-l60 {
    padding-left: 60px !important;
}

.pad-lg-r4 {
    padding-right: 4px !important;
}
.pad-lg-r5 {
    padding-right: 5px !important;
}
.pad-lg-r8 {
    padding-right: 8px !important;
}
.pad-lg-r12 {
    padding-right: 12px !important;
}
.pad-lg-r16 {
    padding-right: 16px !important;
}
.pad-lg-r20 {
    padding-right: 20px !important;
}
.pad-lg-r24 {
    padding-right: 24px !important;
}
.pad-lg-r28 {
    padding-right: 28px !important;
}
.pad-lg-r32 {
    padding-right: 32px !important;
}
.pad-lg-r60 {
    padding-right: 60px !important;
}

.pad-lg-t2 {
    padding-top: 2px !important;
}
.pad-lg-t4 {
    padding-top: 4px !important;
}
.pad-lg-t8 {
    padding-top: 8px !important;
}
.pad-lg-t12 {
    padding-top: 12px !important;
}
.pad-lg-t14 {
    padding-top: 14px !important;
}
.pad-lg-t16 {
    padding-top: 16px !important;
}
.pad-lg-t19 {
    padding-top: 19px !important;
}
.pad-lg-t20 {
    padding-top: 20px !important;
}
.pad-lg-t24 {
    padding-top: 24px !important;
}
.pad-lg-t28 {
    padding-top: 28px !important;
}
.pad-lg-t32 {
    padding-top: 32px !important;
}
.pad-lg-t36 {
    padding-top: 36px !important;
}
.pad-lg-t48 {
    padding-top: 48px !important;
}
.pad-lg-t60 {
    padding-top: 60px !important;
}

.pad-lg-b2 {
    padding-bottom: 2px !important;
}
.pad-lg-b4 {
    padding-bottom: 4px !important;
}
.pad-lg-b8 {
    padding-bottom: 8px !important;
}
.pad-lg-b12 {
    padding-bottom: 12px !important;
}
.pad-lg-b16 {
    padding-bottom: 16px !important;
}

.pad-lg-b19 {
    padding-bottom: 19px !important;
}

.pad-lg-b20 {
    padding-bottom: 20px !important;
}
.pad-lg-b22 {
    padding-bottom: 22px !important;
}

.pad-lg-b24 {
    padding-bottom: 24px !important;
}
.pad-lg-b28 {
    padding-bottom: 28px !important;
}
.pad-lg-b32 {
    padding-bottom: 32px !important;
}
.pad-lg-b36 {
    padding-bottom: 36px !important;
}
.pad-lg-b44 {
    padding-bottom: 44px !important;
}
.pad-lg-b58 {
    padding-bottom: 58px !important;
}

.pad-lg-b60 {
    padding-bottom: 60px !important;
}
}
